#labelSubtotal, #txtSubtotal{
    display: inline;
}

#txtSubtotal{
    width: 70%;
}

.cursor:hover{
    cursor: pointer;
}

#dvBuscar{
    align-items: flex-end;
}

.datosPrestamo, .historial {
  display: none;
}
